.header__lang-link {
  font-weight: 400;
  line-height: calc(28/24*100%);
  font-size: 24px;
  margin-left: 18px;
  color: white;
  text-decoration: none;
  transition: opacity .3s ease-in;
}

.header__lang-link:hover {
  opacity: .5;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    line-height: calc(20/18*100%);
    font-size: 18px;
  }
 
}
