.header__lang-link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  line-height: calc(28/24*100%);
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: opacity .3s ease-in;
}

.header__lang-link:hover {
  opacity: .5;
}
