.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 460px;
  grid-area: title;
}

@media screen and (max-width: 768px) {
  .place__title {
  font-style: normal;
  font-size: 42px;
  line-height: 46px;
  max-width: 340px;
  }
}

@media screen and (max-width: 500px) {
  .place__title {
    margin-bottom: 0px;
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
.place__title {
  font-size: 32px;
  line-height: calc(35 / 32 * 100%);
  max-width: 288px;
  margin: 0;
  margin-left: 16px;
  }
}