.places {
  margin: 90px auto 88px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin: 0 48px 0 48px;
  }
}

@media screen and (max-width: 930px) {
  .places {
    margin: 0 0 0 23px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 auto;
    margin-left: 23px;
    gap: 73px;
  }
}

@media screen and (max-width: 660px) {
  .places {
    margin-left: 14px;
    max-width: 655px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .places {
    max-width: 320px;
    margin: 64px 0 66px;
    gap: 50px;
  }
}