.lead {
  margin: 56px 148px;
  max-width: 984px;
  min-height: 1005px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px;
    max-width: 928px;
    min-height: 962px;
  }
}

@media screen and (max-width: 770px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
  }
}