.lead {
  max-width: 984px;
  margin: 53px auto 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 43px auto 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 0 auto;
  }
}


