.header {
  max-width: 1184px;
  margin: 33px 47px 43px 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

@media screen and (max-width: 1024px)  {
  .header {
    margin: 23px 48px 45px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 23px 25px 48px 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 10px 16px 45px;
  }
}