.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: calc(36 / 30 * 100%);
  text-align: center;
  max-width: 640px;
  margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 55px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 28px auto 55px;
  }
}

@media screen and (max-width: 649px) {
  .lead__subtitle {
    font-size: 26px;
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    max-width: 470px;
    font-size: 22px;
  }
}

@media screen and (max-width: 390px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    margin: 19px auto 40px;
  }
}

