.footer {
  max-width: 1184px;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 96px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 0 0 24px;
  }
}